# CMU_AI_GATEWAY_KEY = "sk-BRbM-z3QRY9Zf4BnjkiRVQ"
CMU_AI_GATEWAY_KEY = "sk-fT0-XcY3U0Y0hA61P-isag"	
ALPHA_VANTAGE_API_KEY = "YLHA50ODXLPLYP30"
AlPHA_VANTAGE_API_KEY2 = "ZWI5ESVMN9XAKWS8"
ALPHA_VANTAGE_API_KEY3 = "AYVP0S2ZJV5HRANJ"

HF_TOKEN = ""

